{% extends "model-page.html" %}

{% block content %}

<!--aqui tinha um vh -->
<!--<div class="agenda-card container vh-130">-->
<div class="container vh-130">
    <div class="div-card col-md-12">
        <div class="col-md-12" id="div-cards">
            <h2>Agendamentos</h2>

<!--            <ul style="font-size: 18px">-->
                {% for evento in eventos %}

            <div class="div-card-agenda col-md-4">
                <div class="card">
                    <div class="card-header {% if evento.get_evento_atrasado %}
                            card-atrasado
                            {% endif %}">
                        {{ evento.titulo }}

                    </div>

                    <div class="card-body">
                        <h5 class="card-title">
                            {{ evento.get_data_evento }}</h5>
                        <p class="card-text">
                            {{ evento.descricao}}
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="evento/?id={{ evento.id }}"
                             class="btn btn-outline-secondary btn-sm">Editar</a>

                        <a href="evento/delete/{{ evento.id }}/"
                            class="btn btn-outline-danger btn-sm">Excluir</a>
                    </div>
                </div>
            </div>

                {% endfor %}
        </div>
    </div>
</div>


<script>
    // após a pagina ser carregada, é adicionado a class Row na div que adiciona o card
    // Solução feita, por conta do for each no HTML, pois ele não reconhecia a quantidade total de cards,
    // e acaba não fazendo a quebra de linhas
    window.onload = function() {
        var element = document.getElementById("div-cards")
        element.classList.add("row")
    }
</script>
{% endblock %}