{% extends "model-page.html" %}

{% block content %}

   <main id="container">
        <form id="cadastro_form" method="POST">
        {% csrf_token %}
            <div id="form_header">
                <h1>Cadastro</h1>
            </div>

            <div class=" input-box">
                <i class="fa-solid fa-user icon-user"></i>
                    Usuário
                <label for="Input-Email1" class="form-label"></label>
                <input name="username" type="text" class="form-control" id="Input-Email1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
            </div>

            <div class="input-box mb-4">
                <i class="fa-solid fa-envelope icon-email"></i>
                    Endereço de e-mail
                <label for="Input-Email" class="form-label"></label>
                <input name="email" type="text" class="form-control" id="Input-Email" aria-describedby="email-Help">
                <div id="email-Help" class="form-text"></div>
            </div>


            <div class="input-box mb-4">
                <i class="fa-solid fa-key icon-senha"></i>
                     Senha
                <label for="inputPassword" class="form-label"></label>
                <input name="password1" type="password" class="form-control" id="inputPassword">
                    <div id="senha1-Help" class="form-password"></div>
            </div>

            <div class="input-box mb-4">
                <i class="fa-solid fa-key icon-senha"></i>
                Confirmação de senha
                <label for="InputPassword2" class="form-label"></label>
                <input name="password2" type="password" class="form-control" id="InputPassword2">
                <div id="senha2-help" class="form-password"></div>
            </div>

            <button type="submit" id="cadastro_button">
                Cadastra-se
            </button>

<!--            redirecionando para a tela de login        -->
            <div class="mt-4">
                <div class="d-flex justify-content-center">
                    Tem uma conta? <a href="/login/" class="link-login"> Faça login</a>
                </div>
            </div>

            <hr>
            {% for key, value in form.errors.items %}
            <div class="alert alert-warning alert-dismissible fade show " role="alert">
                {{value}}
            </div>
            {% endfor %}
        </form>
    </main>

<!--    {% for message in messages %}-->
<!--        <div align="center">-->
<!--            <strong>Erro! </strong>{{ message }}-->
<!--        </div>-->
<!--    {% endfor %}-->
{% endblock %}
