{% extends "model-page.html" %}

{% block content %}
<main class="login-container">
<section class="container mt-5 vh-100">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 titulo">
                <h1>Organize</h1>
                <h2>The right way to plan your day. </h2>
            </div>

            <div class="col-md-4 mt-5 ">
                <form class="formulario-login" action="submit" method="POST">
                    {% csrf_token %}

                    <div class="mb-4">
                        <i class="fa-solid fa-user icon-user"></i>
                            Usuário
                        <label for="InputEmail1" class="form-label"></label>
                        <input name="username" type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text"></div>
                    </div>

                    <div class="mb-3">
                        <i class="fa-solid fa-key icon-senha"></i>
                            Senha
                        <label for="InputPassword1" class="form-label"></label>
                        <input name="password" type="password" class="form-control" id="InputPassword1">
                         <div id="passwordHelpBlock" class="form-text"></div>
                    </div>

                    <button type="submit" id="login_button">
                        Entrar
                    </button>

                    <div class="mt-4">
                        <div class="d-flex justify-content-center">
                            Não tem uma conta? <a href="/cadastro/" class="link-cad"> Cadastre-se</a>
                        </div>
                    </div>

                    <hr>
                    {% for message in messages %}
                        <div class="alert d-flex alert-warning alert-dismissible fade show alerta" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</section>
</main>

{% endblock %}
