#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cadastro_form {
    background-color: var(--color-azul-400);
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    padding: 1% 3%;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0.336);
    height: fit-content;
}

#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 40px;
}

#form_header h1::before{
    content: '';
    width: 40%;
    height: 3px;
    bottom: 10px;
    border-radius: 5px;

}

#mode_icon {
    cursor: pointer;
    font-size: 20px;
}

#inputs {
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.icon-user {
    color: var(--color-azul-450);
}

.icon-email {
    color: var(--color-azul-450);
}

.icon-senha {
    color: var(--color-azul-450);
}


.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-rosa-350) ;
}

.input-field i {
    font-size: 18px;
    color: var(--color-rosa-250);
}

.d-flex {
    justify-content: center; /* Centraliza os itens ao longo do eixo principal */
}

.link-login {
    color: var(--color-azul-450);
    margin-left: 10px;
}

.input-box input {
    font-size: 18px;
}

.input-box input:focus {
    outline: none;
}

#cadastro_button {
    border: none;
    background: var(--color-rosa-250);
    color: var(--color-light-0);
    padding: 7px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

#cadastro_button:hover {
    transform: scale(1.05);
}