@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Poppins:ital,wght@0,200;0,300;1,100&family=Short+Stack&display=swap');

:root {
    --color-light-0: #ffffff; /*branca*/
    --color-body: #fdf0d5;
    /*rosa*/
    --color-rosa-50: #fed9b7;
    --color-rosa-100: #ffddd2;
    --color-rosa-150: #e29578;
    --color-rosa-200: #f07167;
    --color-rosa-250: #f07167;
    --color-rosa-300: #c1121f;
    --color-rosa-350: #ff3366;

    --color-amarelo: #f4d35e;

    /*vermelho*/
    --color-vermelho-50: #780000;
    /*azul*/
    --color-azul-50: #edf6f9;
    --color-azul-100: #83c5be;
    --color-azul-150: #669bbc;
    --color-azul-200: #00afb9;
    --color-azul-250: #20a4f3;
    --color-azul-300: #006d77;
    --color-azul-350: #003049;
    --color-azul-400: #011627;
    --color-azul-450: #2ec4b6;

}

body {
    background-color: var(--color-body);
    color: var(--color-light-0)
}

main {
    display: flex;
}

img {
    height: 68vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 100px;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 30px;
}



label {
    display: block;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

.titulo{
    font-family: 'Shadows Into Light Two', cursive; !important;
}

.alert li {
    list-style: none; !important;
    color: #d09f27; !important;
}



.alert-dismissible {
    font-size: 14px;
    padding: 2%;
}



.alerta {
    background-color: #F2F3D9;
    display:inline-block;
    padding: 9px 32px;
    position: center;
}




/*tela de registro*/


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row { /*  centralizando a tela de login */
    justify-content: center;
    margin-right: auto;
}