<footer >
    <div class="footer-principal">
        <!--    div é apenas do LOGO-->
        <div class="col-md-12 p-3">
            <div class="col-md-2">
                <i class="fa-regular fa-calendar" id="footer-logo"></i>
            </div>
            <hr>
        </div>

    <!--    div que engloba todas as informações-->
        <div class="container col-md-12 footer-info">
            <div id="footer-about" class="col-md-4">
                  <h3>Quem sou eu?</h3>
                    <p>Meu nome é Luiza, tenho 23 anos e estou cursando o 4° periodo da faculdade de ADS no IFSP.</p>
                    <p> Estou desenvolvendo esse projeto, para aplicar meus conhecimentos em: </p>
                    <p>Python | Django | CSS e HTML | JavaScript</p>
            </div>

            <div class="col-md-4">
                <ul class="footer-list">
                <li>
                    <h3>Documentações</h3>
                </li>
                <li>
                    <a href="https://www.python.org/" target="_blank" class="footer-link">Python</a>
                </li>
                <li>
                    <a href="https://docs.djangoproject.com/en/4.1/releases/4.0/" target="_blank" class="footer-link">Django</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/html/" target="_blank" class="footer-link">HTML</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/css/" target="_blank" class="footer-link">CSS</a>
                </li>
                <li>
                    <a href="https://www.javascript.com/" target="_blank" class="footer-link">JavaScript</a>
                </li>
            </ul>
            </div>

            <div id="footer-contacts" class="col-md-4">
                <div class="col-md-12 footer-contato">
                    <h3>Fale comigo</h3>
                    <h4>luizamariabarros.contato@gmai.com</h4>
                </div>

            <div class="col-md-12">
                <h3 class="footer-media">Me acompanhe</h3>
                 <div id="footer-social-media">
                    <a href="https://www.instagram.com/_lluuuhh/ " target="_blank"
                       class="footer-link" id="instagram">
                          <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/luizamariabarrosdeoliveira/" target="_blank"
                       class="footer-link" id="linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                    <a href="https://github.com/luizaamaria" target="_blank"
                       class="footer-link" id="git">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
        <div class="footer-dev p-3">
            <a class="text-white" href="https://github.com/luizaamaria/agenda-django"target="_blank">
                Desenvolvido por Luiza Maria © 2023
            </a>
      </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>