    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Agenda</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
              integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/footer.css" %}">
        <link rel="stylesheet" href="{% static "css/navbar.css" %}">
        <link rel="stylesheet" href="{% static "css/card.css" %}">
        <link rel="stylesheet" href="{% static "css/addEvento.css" %}">
        <link rel="stylesheet" href="{% static "css/login.css" %}">
        <link rel="stylesheet" href="{% static "css/cadastro.css" %}">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body>
    {% if user.is_authenticated %}

    <nav class="nav-bar">
        <div class="logo-nav">
            <i class="fa-regular fa-calendar" id="logo-nav"></i>
        </div>

        <div class="nav-list">
            <ul>
                <li class="nav-item"><a href="/" class="nav-link">Meus agendamentos</a></li>
                <li class="nav-item"><a href="evento/" class="nav-link">Adicionar evento</a></li>
            </ul>
        </div>

        <div class="logout-button">
            <button><a href="/logout">Sair</a></button>
        </div>
    </nav>

{% endif %}

<!--    Inserir aqui o html da pagina de login-->